@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Lato", sans-serif;
    --paragraph-size: 1rem;
    --h1-size: 3rem;
    --h2-size: 2rem;
    --font-color: #e3d7bd;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url("images/background\ final.png");
}
    /* Navigation Style */
nav {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;

}

nav #logo {
    height: 3rem;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-family: var(--heading-font);
    font-weight: bold;

}

nav ul li {
    padding: 0.5rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--font-color);
}

    /* Main Heading */
h1 {
    text-align: center;
    font-size: var(--h1-size);
    font-family: var(--heading-font);
    color: var(--font-color);
}

p {

    margin: 0.5rem;
    text-align: justify;
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-size);
    color: var(--font-color);
}

h2 {

    text-align: center;
    padding-bottom: 2rem;
    font-family: var(--heading-font);
    font-size: var(--h2-size);
    color: var(--font-color);
    
}

h3 {
    color: var(--font-color);
}

    /* Image and Recent work*/
#selfie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selfie img {
    height: 15rem;
}

#selfie h2 {
    text-align: center;
    padding-bottom: 1rem;

}

.featurework {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.featurework img  {
    padding: 0.5rem;
    border-radius: 1rem;
    width: 80%;
}

    /* Blog */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-shadow: 0px 2px 8px 0px grey;
    text-align: center;
    margin: 0.5rem;
}

.title {
    padding: 0.5rem;
    background: none;
}

.desc {
    text-align: justify;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.bg-img img{
    width: 100%;
}

.bg-img a  {
    text-decoration: none;
}

    /* Blog Post */
#blog {
    text-align: center;
}

#title {
    font-size: 5rem;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: auto;
}
article img {
    width: 50%;
}

article p {
    text-align: justify;
    padding-top: 1rem;
}

    /* Projects */
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.project img  {
    padding: 0.5rem;
    border-radius: 1rem;
    width: 80%;
}

    /* Contact Form */
.form {
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: var(--font-color);
}

.form input {
    width: 100%;
    height: 2rem;
    background: none;
    background-color: var(--font-color);
}

.form #message {
    width: 100%;
    height: 10rem;
    background: none;
    background-color: var(--font-color);
}

label {
    padding: 0.5rem;
    display: block;
    text-align: center;
    color: var(--font-color);
}

.form #button:hover {
    background-color: red;
}
.form #button {
    background: none;
    background-color: var(--font-color);
}

    /* Screen Size */
@media screen and (max-width: 412px) { 
    .card {
        width: 60%;

    }

    .featurework img {
        width: 50%;
    }

    .project img {
        width: 60%;
    }
    
}

@media screen and (min-width: 413px) and (max-width: 820px) { 
    .card {
        width: 40%;

    }

    .featurework img {
        width: 70%;
    }

    .project img {
        width: 50%;
    }
}

@media screen and (min-width: 821px) {    

    .card {
        width: 30%;

    }

    .featurework img {
        width: 40%;
    }

    .project img {
        width: 30%;
    }
    
}
    /* Social Links */
#socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem;
}

    /* Footer */
#bottom p {
        text-align: center;
        font-size: 0.7rem;
        font-family: var(--paragraph-font);
        
    }

#bottom {
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
}
